{{!-- This is a Handlebars partial for the 'card' to render the post contents --}}
<div class="card mt-3">
	<div class="card-header">
		<p class="card-text"> {{format_date created_at}}</p>
		<h6 class="text-dark card-subtitle">
			<i class="fa fa-user mr-2"></i>
			{{user.username}}
		</h6>
		<h4 class="mt-2"><a href="/post/{{id}}" data-toggle="tooltip" data-bs-animation="true" title="Click to load the post..." class="link-muted text-decoration-none">{{title}}</a></h4>
	</div>
	<p class="card-body">{{post_content}}</p>
</div>